body{
    background-color: rgba(163, 191, 168, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    position: absolute;
    top: 30%;
    left: 42%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1%;
}

a{
    color: black;
    
}